.catalogue {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-duration {
  font-size: 14px;
  color: #888;
}

.card-link {
  display: block;
  text-decoration: none;
  color: blue;
  margin-top: 10px;
}
